/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos del menu */

header nav ul {
    background-color: whitesmoke;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Propiedades del banner */

.banner {
    background-color: rgb(185, 241, 178);
    background-image: url(../img/solen-feyissa-lDy7jcXiUnQ-unsplash.jpg);
    background-repeat: no repeat;
    text-align: center;
    color: whitesmoke;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 50px;
}

.hijo-banner-1 {
    margin: 25px;
    font-size: 50px;
}

.hijo-banner-2 {
    margin: 10px;
    font-size: 30px;
}

.hijo-banner-3 {
    font-size: 20px;
}


.boton {
    background-color: #51B0DF;
    color: whitesmoke;
    padding: 0.7rem;
    width: 5rem;
    box-shadow: 2px 2px 5px black;
    text-shadow: 1px 1px 5px black;

    margin: 45px;
    ;
}

/* animacion del boton */
.boton:hover {
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(112, 106, 106);
    transform: scale(0.9);
}


/* cajas con contenido */

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px 200px;
    gap: 30px;
}


.caja {
    /* no toma el color de fondo en cada caja */
    background-color: rgb(167, 240, 125);
    height: 220px;
    width: 220px;

    /* propiedad del margin */
    border: 2px solid rgb(145, 231, 96);
    margin: 100px 30px 50px 30px;
    padding: 5px;
}

.img-caja {
    /* el color de fondo no va, pero no me toma el BG de la caja y no se distingue la imagen */
    background-color: grey;
    display: flex;
    justify-content: center;

}

.titulo-caja {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.parrafo-caja {
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

section h3 {
    text-align: center;
    color: rgb(103, 153, 70);
    margin: 5%;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(179, 209, 172);

}



/* ESTILOS DEL FOOTER */

footer {
    background-image: linear-gradient(to top, rgba(204, 236, 204, 0.801), rgb(204, 238, 165));
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

footer div iframe {
    height: 250px;
    width: 250px;
    margin: 10px;
}



footer div img:hover {
    filter: drop-shadow(5px 5px 3px);
}

footer h3 {
    display: flex;
    justify-content: center ;
}




/*........... MQ............... */

@media screen and (max-width: 800px) {
    header nav ul {
        display: grid;
        justify-content: start;
    }

    .banner {
        width: 50rem;
        height: 25rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr 3fr;
    }
}








/* estilos page "Acerca de mi" */

.figure{
    width: 5%;
}